@mixin media-1200() {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin media-992() {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin media-768() {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin padding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@mixin text-size($size, $distance) {
  font-size: $size;
  line-height: $distance;
}
